.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  font-size: 14px;
  border-bottom: 1px solid #444;
  background-color: #2d2d2d;
}

.editor-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  background-color: #1e1e1e;
}

.story-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  background-color: #1e1e1e;
}
