.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  font-size: 14px;
}

.editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #444;
  overflow: hidden;
}

.story-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
